{% extends 'base.html.twig' %}

{% block title %}
	Log in!
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="/js/pass.js"></script>
{% endblock %}

{% block body %}
	{{ parent() }}
	<main>
		<section id="connexion-container">
			<h1>Connexion</h1>
			<article id="connexion">
                <h2>Formulaire de connexion</h2>
				<form method="post">
					{% if error %}
						<div class="notification is-danger">
							{{ error.messageKey|trans(error.messageData, 'security') }}
						</div>
					{% endif %}

					{% if app.user %}
						<div class="notification is-info">
							Connéecté(e) en tant que
							{{ app.user.username }}
							,
							<a href="{{ path('app_logout') }}">
								Déconnexion
							</a>
						</div>
					{% endif %}

					{% for message in app.flashes('success') %}
						<div class="notification is-success">
							{{ message }}
						</div>
					{% endfor %}


					<div class="field">
						<label class="label">
							Email
						</label>
							<input class="input" type="email" value="{{ last_username }}" name="email" autocomplete="email" required autofocus>
							<span class="icon is-small is-left">
								<i class="fas fa-envelope"></i>
							</span>
							<span class="icon is-small is-right">
								<i class="fas fa-check"></i>
							</span>
					</div>

					<div class="field">
						<label class="label">
							Mot de passe
						</label>
						<div class="control">
							<input class="input" type="password" name="password" autocomplete="current-password" required>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</div>
					</div>

					<div id="link">
						<a href="{{ path('app_forgot_password_request') }}" class="forget">
							Mot de passe oublié ?
						</a>
					</div>

					{#
					                                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					                                        See https://symfony.com/doc/current/security/remember_me.html
					                                
					                                        <div class="checkbox mb-3">
					                                            <label>
					                                                <input type="checkbox" name="_remember_me"> Remember me
					                                            </label>
					                                        </div>
					                                    #}
					<div id="control-submit">
						<button>Envoyer</button>
					</div>


				</form>
			</article>

		</section>
	</main>
	{{ include('main/footer.html.twig') }}

{% endblock %}
