{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}

{% block title %} {{ parent() }} Informations pour changement de mot de passe {% endblock %}

{% block body %}
    {{ parent() }}
    <p>
       Si un compte correspond à l'email saisi, alors vous recevrez un email dans votre boite de réception contenant un lien.
       Ce lien vous permettra de réinitialiser votre mot de passe.
       Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'emails, regardez dans vos span ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
{% endblock %}


{{ include('main/footer.html.twig') }}

{% endblock %}