{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% endblock %}

{% block body %}
    {{ parent() }}



    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Demande de réinitialisation du mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="button is-info">Envoyer</button>
    {{ form_end(requestForm) }}


{{ include('main/footer.html.twig') }}

{% endblock %}
