{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	<main>
		<section id="reset-container">
			<h1>Reset your password</h1>

			<article id="reset">
				<h2>Renseignez votre mot de passe</h2>
				{{ form_start(resetForm) }}
				{{ form_row(resetForm.plainPassword) }}
				<div class="control">
					<button>Envoyer</button>
				</div>
				{{ form_end(resetForm) }}
			</article>
		</section>
	</main>

	{{ include('main/footer.html.twig') }}

{% endblock %}
