{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/js/pass.js"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

{% block title %}{{ parent() }} Réinitialisation {% endblock %}

{% block body %}
    <h1>Réinitialiser le mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="button is-info">Envoyer</button>
    {{ form_end(resetForm) }}


{{ include('main/footer.html.twig') }}

{% endblock %}
