{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }}

                <section class="color-connect">
                    <div class="container-account">
                        <div class="avatar is-flex is-justify-content-center">
                        <div class="file has-name is-left is-normal">
                                    <p class="subtitle">Avatar</p>
                                    
                                <label class="file-label">
                                    <input class="file-input" type="file" name="resume">
                                    <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </label>
                            </div>
                        <figure class="image is-128x128">
                            {% if app.user %}<img src="/avatar/{{ app.user.image}}" class="is-rounded image is-128x128"/>{% endif %} 
                        </figure>
                        </div>

                        {{form_start(form)}}                           
                      
                        {{form_row(form.email)}}

                        {{form_row(form.password)}}
                        
                        {{form_row(form.image)}}

                        {{form_row(form.username)}}
                         
                         {{ form_widget(form) }}
                            <div class="field">
                                <p class="control">
                                    <button class="button button-green">Submit</button>
                                </p>
                                </div>
                        {{form_end(form)}}

                    </div>
                </section>

            <footer class="hero-footer">
                <div class="content">
                    <p class="has-text-centered"><a href="{{ path('dev-quiz_contact') }}" class="has-text-white">Contact</a></p>

                </div>

            </footer>
        </div>
    </section>



{% endblock %}
