{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }}

                <section class="color-connect">
                    <div class="container-account">
                        <div class="avatar is-flex is-justify-content-center">
                        <div class="file has-name is-left is-normal">
                               <figure class="image is-128x128">
                                    {% if app.user %}<img src="/avatar/{{ app.user.image}}" class="is-rounded image is-128x128"/>{% endif %} 
                                </figure>
                               
                            </div>
                     
                        </div>

                        {{form_start(form)}}                           
                      
                        {{form_row(form.email)}}

                        {{form_row(form.password)}}
                        
                        {{form_row(form.image)}}

                        {{form_row(form.username)}}
                         
                         {{ form_widget(form) }}
                            <div class="field">
                                <p class="control">
                                    <button class="button button-green">Submit</button>
                                </p>
                                </div>
                        {{form_end(form)}}

                    </div>
                </section>

            <footer class="hero-footer">
                <div class="content">
                    <p class="has-text-centered"><a href="{{ path('dev-quiz_contact') }}">Contact</a></p>
                <p class="has-text-centered">Copyright 2021</p>

                </div>

            </footer>
        </div>
    </section>



{% endblock %}
