{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <section class="color-connect">
        <div class="container-account">
         {% for message in app.flashes('success') %}
            <div class="notification is-success">
                {{ message }}
            </div>
        {% endfor %}
            <div class="avatar is-flex is-justify-content-center">
                <div class="is-left is-normal">
                    <figure class="image is-128x128">
                        {% if app.user %}
                            <img src="/avatar/{{ app.user.image }}" class="is-rounded image is-128x128" />
                        {% endif %}
                    </figure>
                </div>
            </div>

            <form method="POST" action="">
                <div class="field">
                    <label class="label">
                        Email
                    </label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="email" value="{{ app.user.email }}">

                            <button class="button button-validate none">
                                Validate
                            </button>
                            <button class="button button-validate none"></button>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </p>

                    </div>

                    <div class="field">
                        <label class="label">
                            Username
                        </label>
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="text" value="{{ app.user.username }}">

                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <label class="label">
                                Password
                            </label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" value="{{ app.user.password }}">

                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                                <figure><!--<img src="https://img.icons8.com/nolan/48/visible.png"/>-->
                                </figure>
                            </div>

                            <button class="button button-edit">
                                <a href="{{ path('dev-quiz_account-edit', {id: app.user.id}) }}">
                                    EDIT
                                </a>
                            </button>
                            <button class="button is-danger">
                                <a href="{{ path('dev-quiz_account-delete', {id: app.user.id}) }}">
                                    Delete your account
                                </a>
                            </button>
                        </form>
                    </div>
                </section>

                <footer class="hero-footer">
                    <div class="content">
                        <p class="has-text-centered">
                            <a href="{{ path('dev-quiz_contact') }}">
                                Contact
                            </a>
                        </p>

                    </div>

                </footer>
            </div>
        </section>

    {% endblock %}
    