{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
<script src="/js/pass.js"></script>
   
{% endblock %}

{% block body %}
    {{ parent() }}

    <section class="color-connect">
        <div class="container-account">
            {% for message in app.flashes('success') %}
                <div class="notification is-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="avatar is-flex is-justify-content-center">
                <div class="is-left is-normal">
                    <figure class="image is-128x128">
                        {% if app.user %}
                            <img src="/avatar/{{ app.user.image }}" class="is-rounded image is-128x128" />
                        {% endif %}
                    </figure>
                </div>
            </div>

            {{ form_start(form) }}

            {{ form_row(form.email) }}

            {{ form_row(form.username) }}

            {{ form_row(form.password) }}

           

            <button class="button button-edit">
                <a href="{{ path('dev-quiz_account-edit', {id: app.user.id}) }}">
                    EDIT
                                                    
                </a>
            </button>
            <button class="button is-danger">
                <a href="{{ path('dev-quiz_account-delete', {id: app.user.id}) }}">
                    Delete your account
                                                    
                </a>
            </button>
            {{ form_end(form) }}

        </div>
    </section>

</div>
{{ include('main/footer.html.twig') }}</section>{% endblock %}