{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}


    <section class="color-quiz">
        <div class="container">
            <article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                <div class="content column">
                    <h3 class="title">
                        {{ quiz.name }}
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </br>
                    Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
                                                                    Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                                                    Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
                </br>
                Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Proin ornare magna eros, eu pellentesque tortor vestibulum ut. 
            </br>
            Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                                        
        </p>
    </div>
</article></div></section><section class="color-quiz"><div class="container">
<article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
    <div class="content column">
        <h3 class="title">
            Questions :
                                                        
        </h3>

        <div class="content column is-flex is-flex-wrap-wrap">

            {% for key, question in arrayQuestionsAnswer %}
                <button class="button button-orange-questions column is-flex is-align-items-center">
                    <p>
                  <a href="{{path('dev-quiz_quiz-questions', {'id' : question.questionId})}}">
                        Question 
                        {{ key + 1 }}
                        </a>
                        <span class="none">
                            {{ question.questionId }}
                        </span>
                    </p>

            </button>
            {% endfor %}

        </div>
    </div>

</article></div></section>{% for key, question in arrayQuestionsAnswer %}<section class="color-quiz">
<div class="container">
    <article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
        <div class="content column">
            <form method="GET" action="">

                <h3 class="title">

                    Question n° 
                    {{ key + 1 }}
                    <span class="none">
                        {{ question.questionId }}
                    </span>

                </h3>

                <p>

                    {{ question.questionTitle }}

                </p>

                {% for answer in question.answers %}
                    <label class="checkbox column">
                        <input type="checkbox">
                            <span class="none">
                                {{ answer.answerId }}
                            </span>
                            {{ answer.answerName }}
                        </label>

                    {% endfor %}

                    <div class="field">
                        <p class="control validate">
                            <button class="button button-green">
                                Validate
                            </button>
                        </p>
                        <p class="control validate">
                            <button class="button button-orange-next none">
                                Next
                            </button>
                        </p>
                    </div>

                </form>
            </div>
        </article>
    </div>
</section>{% endfor %}<footer class="hero-footer">
<div class="content">
    <p class="has-text-centered">
   <a href="{{ path('dev-quiz_contact') }}">Contact</a></p>
    <p class="has-text-centered">Copyright 2021</p>

</div></footer></div></section>{% endblock %}