{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}


    <section class="color-quiz">
        <div class="container">
            <article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                <div class="content column">
                    <h3 class="title">
                        {{ quiz.name }}
                    </h3>
    </div>
</article></div></section>

<section class="color-quiz"><div class="container">
<article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
    <div class="content column">
        <h3 class="title">
            Questions :
                                                        
        </h3>

        <div class="content column is-flex is-flex-wrap-wrap">

            {% for key, question in arrayQuestionsAnswer %}
                <button class="button button-orange-questions column is-flex is-align-items-center" data-id="{{ question.questionId }}">
                  
                        Question 
                        {{ key + 1 }}
                    

            </button>
            {% endfor %}

        </div>
    </div>

 
</article></div></section>{% for key, question in arrayQuestionsAnswer %}<section class="color-quiz questions none" data-id="{{ question.questionId }}" data-step=" {{ key + 1 }}">
<div class="container">
    <article class="quiz media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
        <div class="content column">
            <form method="POST" action="" id="quiz">
                <h3 class="title">
                    Question n° 
                    {{ key + 1 }}
                </h3>
                <p>
                    {{ question.questionTitle }}
                </p>
            
                {% for answer in question.answers %}
        
                    <label class="{{typeInput}} column">
                        <input type="{{typeInput}}" name="type" value=" {{ answer.answerName }}" data-id="{{ answer.answerId }}" data-name="type">
                            {{ answer.answerName }}
                        </label>

                   
                {% endfor %}
              

                    <div class="field">
                        <p class="control validate">
                            <button class="button button-green" name="send" type="submit">
                                Validate
                            </button>
                        </p>
                        <p class="control validate">
                            <button class="button button-orange-next hidden">
                                Next
                            </button>
                        </p>
                    </div>
            </form>                                            
        </div>
        <div class="content column answer-content none">
                                                                    <p class="subtitle"></p>
                    
                                                                    <h4 class="title">INFO +</h4>
                                                                    <p>
                                                                    {{question.questionInfoplus}}
                                                                    </p>
        </div>

        <div class="warning content column none">
           <p class="subtitle no-answer"> No answer is selected </p>
        </div>
        </article>
    </div>
</section>
{% endfor %}

<footer class="hero-footer">
<div class="content">
    <p class="has-text-centered">
        <a href="{{ path('dev-quiz_contact') }}">Contact</a></p> 
            
        </a>
    </p>
</div></footer></div></section>{% endblock %}