{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
<script src="/js/quiz.js"></script>
<script src="/js/submitanswer.js"></script>
{% endblock %}

{% block body %}
    {{ parent() }}


    <section class="color-quiz">
        <div class="container">
            <article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                <div class="content column">
                    <h2 class="title">
                       Quiz : {{ quiz.name}}          
                    </h2>
                <h5 class="catg title is-5"> Catégorie : {{ quiz.category.name }}</h5>
                <p>{{ quiz.category.resume }}</p>
                

                <span id="user" class="hidden">{{ userId }}</span>
                
    </div> 


   
</article></div></section>

<section class="color-quiz"><div class="container">
<article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
    <div class="content column">
        <h3 class="title">
            Questions :
                                                        
        </h3>

        <div class="content not-padding column is-flex is-flex-wrap-wrap">

            {% for key, question in arrayQuestionsAnswer %}
                <button class="button button-orange-questions column is-flex is-align-items-center" data-id="{{ question.questionId }}">
                  
                        Question 
                        {{ key + 1 }}
                    

            </button>
            {% endfor %}

        </div>
    </div>

 
</article></div></section>{% for key, question in arrayQuestionsAnswer %}<section class="color-quiz questions none" data-id="{{ question.questionId }}" data-step="{{ key + 1 }}">
<div class="container">
    <article class="quiz media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
        <div class="content column">
            <form method="POST" action="" class="form" data-step="{{ key + 1 }}">
                <h3 class="title">
                    Question n° 
                    {{ key + 1 }}
                </h3>
                <p>
                    {{ question.questionTitle }}
                </p>
            
                {% for answer in question.answers %}
              
                {% if question.countAnswer > 1  %}
                {% set typeInput = 'checkbox' %}
                {% else %}
                {% set typeInput = 'radio' %}

                {% endif %}

                    <label class="{{typeInput}} column">
                        <input type="{{typeInput}}" name="type" value=" {{ answer.answerName }}" data-id="{{ answer.answerId }}" data-step="{{ key + 1 }}" data-question ="{{ question.questionId }}">
                            {{ answer.answerName }}
                        </label>

                   
                {% endfor %}
              

                    <div class="field">
                        <p class="submit">
                            <button class="button button-green" name="send" type="submit" data-step="{{ key + 1 }}" data-clicked= >
                                Validate
                            </button>
                        </p>
                        <p class="submit">
                            <button class="button button-orange-next hidden">
                                Next
                            </button>
                        </p>
                    </div>
            </form>                                            
        </div>
        <span class="subtitle score">Score: </span>
        
        <div class="content column answer-content none" data-step="{{ key + 1 }}">
        <p class="subtitle result-answer"></p>
                                                                    <h4 class="title has-text-white">INFO +</h4>
                                                                
                                                                    <p>
                                                                    {{question.questionInfoplus}}
                                                                    </p>
        </div>

        <div class="warning content column none" data-step="{{ key + 1 }}">
           <p class="subtitle no-answer"> No answer is selected </p>
        </div>
        </article>
    </div>
</section>
{% endfor %}

</div>
{{ include('main/footer.html.twig') }}


</section>

{% endblock %}