{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }}
       
                <section class="color-quiz">
                    <div class="container">
                        <article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                                    <div class="content column">
                                     <h3 class="title">
                                        Score :
                                    </h3>
                                        <span>{{dump(player)}}</span>
                                            <progress class="progress" value="" max="100"></progress>
                                    </div>
                        </article>
                    </div>
                </section>
                            
                <section class="color-quiz">
                    <div class="container">
                        <article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                                <div class="content column">
            
                                    <h3 class="title">
                                        Themes :
                                    </h3>

                                </div>
                                
                                <div class="content figure is-flex is-flex-direction-row is-flex-wrap-wrap">
                                    {% for name in quiz %}     
                                        <figure class="image is-128x128">
                                            <img src="https://bulma.io/images/placeholders/128x128.png">
                                           <p class="subtitle">{{name.name}}</p>
                                        </figure>
                                     {% endfor %}
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                
                 <p class=" quiz has-text-centered"><a href="{{ path('dev-quiz_create-quiz') }}" class="has-text-white">Create your quiz</a></p>

             <footer class="hero-footer">
                <div class="content">
                    <p class="has-text-centered"><a href="{{ path('dev-quiz_contact') }}" class="has-text-white">Contact</a></p>

                </div>

            </footer>

        </div>
    </section>



{% endblock %}
