{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %} {{ parent() }}
                            
                <section class="color-quiz">
                    <div class="container">

                    <h3 class="title">
                    Score :
                    </h3>
                        <article class="media-quiz columns is-multiline is-mobile is-two-thirds-tablet is-desktop">
                     
            
                                   

                          
                                {% for name in quiz %}
                                   
                                <div class="content figure is-flex is-flex-direction-row is-flex-wrap-wrap bottom">
                                  
                                        <figure class="image">
                                             <img src="/icones/{{name.icone}}" class="image is-128x128">
                                           <p class="subtitle" data-id="{{name.id}}">{{name.name}}</p>
                                           
                                    {% for players in player %}     
                                    {% if name.id == players.quiz.id and players.score is defined %}
                                       
                                        <div class="progres" value="{{players.score}}" max="5"></div>
                                        <span class="score">Score : {{players.score}}</span>
                                    {% endif %}       
                                    {% endfor %}
                               
                                        </figure>
                                      
                                </div>

                         
                            
                        {% endfor %}
                
                        </article>
                    </div>
                </section>
                
                 <p class=" quiz has-text-centered"><a href="{{ path('dev-quiz_create-quiz') }}" class="has-text-white"></a></p>

                </div>
                <footer class="hero-footer">    
        <p class="has-text-centered first"><a href="{{ path('dev-quiz_contact') }}">Contact</a></p>
<p class="has-text-centered second">Copyright 2021</p>
             
                </footer>
    
            
        </section>


{% endblock %}
