{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block javascripts %}
<script src="/js/pass.js"></script>
{% endblock %}

{% block body %} {{ parent() }}

                <section class="color-connect">
                    <div class="container">
             
                    {{form_start(form)}}                           
                      
                        {{form_row(form.email)}}
                      

                        {{form_row(form.password)}}
                    
                        
                        {{form_row(form.image)}}
                  

                        {{form_row(form.username)}}
                        
                      
                            <div class="field">
                                <p class="submit">
                                    <button class="button button-green">Submit</button>
                                </p>
                                </div>
                    {{form_end(form)}}
                    </div>

                    </div>
                </section>

            </div>
            <footer class="hero-footer">    
        <p class="has-text-centered first"><a href="{{ path('dev-quiz_contact') }}">Contact</a></p>
    <p class="has-text-centered first"><a href="{{ path('dev-quiz_mentions-legales') }}">Mentions légales</a></p>
    <p class="has-text-centered second">Copyright 2021</p>
         
            </footer>

        
    </section>



{% endblock %}
