{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block javascripts %}
<script src="/js/pass.js"></script>
{% endblock %}

{% block body %} {{ parent() }}

                <section class="color-connect">
                    <div class="container">
             
                    {{form_start(form)}}                           
                      
                        {{form_row(form.email)}}
    

                        {{form_row(form.password)}}
                    
                        
                        {{form_row(form.image)}}
                  

                        {{form_row(form.username)}}
                        
                      
                            <div class="field">
                                <p class="submit">
                                    <button class="button button-green">Submit</button>
                                </p>
                                </div>
                    {{form_end(form)}}
                    </div>

                    </div>
                </section>

            </div>
            {{ include('main/footer.html.twig') }}

        
    </section>



{% endblock %}
