{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--<script src="/js/form.js"></script>-->
{% endblock %}

{% block body %}
    {{ parent() }}
    <main>
        <section id="quizz-container">
            <h1>
                Quizz		     
            </h1>
            <article id="intro-quiz">
                <div class="content">
                    <h2>
                        Liste des quizz			                
                    </h2>
                    <p>Retrouvez ici tous les quizz disponibles</p>
                </div>
            </article>

            <article id="list-quiz">
                <div class="content">
                    <h2>
                        Choisissez un quiz :                
                    </h2>
                    <div class="table__wrapper">

                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Categorie</th>
                                    <th>Nom du quiz</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Position</th>
                                    <th>Categorie</th>
                                    <th>Nom du quiz</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for key, listQuiz in quiz %}
                                <tr>
                                    <td>{{key + 1}}</td>
                                    <td>
                                        <a href="{{ path('dev-quiz_category-quizz', {'id' : listQuiz.category.id}) }}">  
                                        {{ listQuiz.category.nameCategory }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('dev-quiz_quiz-read', {'id' : listQuiz.id}) }}">
                                        {{ listQuiz.name }}
                                     </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                      
                    </div>
                </div>
            </article>
            <article id="personnal-quiz">
                <h2>Vos quizz</h2>
                    <div class="table__wrapper">
                   
                        {% if quizzUser is defined %}
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Categorie</th>
                                    <th>Nom du quiz</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Position</th>
                                    <th>Categorie</th>
                                    <th>Nom du quiz</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                       
                                {% for key, listQuizUser in quizzUser %}
                                <tr>
                                    <td>{{key + 1}}</td>
                                    <td>   <a href="{{ path('dev-quiz_category-quizz', {'id' : listQuizUser.category.id}) }}">  {{ listQuizUser.category.nameCategory }} </a></td>
                                    <td>
                                        <a href="{{ path('dev-quiz_quiz-read', {'id' : listQuizUser.id}) }}">
                                        {{ listQuizUser.name }}
                                        </a>
                                    </td>
                                    <td>
                                        <button class="button is-warning"><a href="{{ path('dev-quiz_edit-quiz', {'id' : listQuizUser.id}) }}">Editer</a></button>
                                        <button class="button is-danger"><a href="{{ path('dev-quiz_delete-quiz', {'id' : listQuizUser.id}) }}">Supprimer</a></button>
                                    </td>
                                </tr>
                            {% endfor %}
                           
                            </tbody>
                        </table>

                        {% else %}
                        <div class="warning">
                            <p> Vous n'avez pas encore de quizz </p>
                        </div>
                        {% endif %}
                        
                    </div>
                

    <h2>Formulaire d'ajout</h2>

        {{form_start(form)}}
               
        {{form_row(form.name)}}
        
        {{form_row(form.category)}}

    

        <div class="control">
            <button id="submit">Envoyer</button>
        </div>

        {{form_end(form)}}

   



    </article>
    </article>
    </section>
</main>
{{ include('main/footer.html.twig') }}
{% endblock %}