{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--<script src="/js/form.js"></script>-->
{% endblock %}

{% block body %}
    {{ parent() }}
    <main>
        <section id="quizz-container">
            <h1>
                Quizz		     
            </h1>
            <article id="intro-quiz">
                <div class="content">
                    <h2>
                        Liste des quizz			                
                    </h2>
                    <p>Retrouvez ici tous les quizz disponibles</p>
                </div>
            </article>

            <article id="list-quiz">
                <div class="content">
                    <h2>
                        Choisissez un quiz :                
                    </h2>
                    <div id="quizz">
                        {% for listQuiz in quiz %}
                           
                                <div class="list">
                                    <a href="{{ path('dev-quiz_quiz-read', {'id' : listQuiz.id}) }}">
                                       {{ listQuiz.name }}
                                    </a>
                                    <div class="category">
                                        <span>  Catégorie : {{ listQuiz.category.nameCategory }}</span>
                                    </div>
                                </div>
                                
                       
  
                        {% endfor %}
                    </div>
                </div>
            </article>
            <article id="personnal-quiz">
                <h2>Vos quizz</h2>
                    <div id="quizz-user">
                    {% for listQuizUser in quizzUser %}
                           
                        <div class="list">
                            <a href="{{ path('dev-quiz_quiz-read', {'id' : listQuizUser.id}) }}">
                            {{ listQuizUser.name }}
                            </a>

                            <div class="category">
                                <span>  Catégorie : {{ listQuizUser.category.nameCategory }}</span>
                            </div>
                            
                            <div class="button-quiz-user">
                                <button><a href="{{ path('dev-quiz_edit-quiz', {'id' : listQuizUser.id}) }}">Modifier</a></button>
                                <button><a href="{{ path('dev-quiz_delete-quiz', {'id' : listQuizUser.id}) }}">Supprimer</a></button>
                                <button><a href="">Ajouter des questions</a></button>
                                <button><a href="{{ path('dev-quiz_add-quiz-answers', {'id' : listQuizUser.id}) }}">Ajouter des réponses</a></button>
                            </div>
                        </div>

                    {% endfor %}
                         </div>
                    </div>
                

    <h2>Formulaire d'ajout de quizz</h2>

        {{form_start(form)}}
               
        {{form_row(form.title)}}
        
        {{form_row(form.infoplus)}}

        {{form_row(form.quiz)}}	

        <div class="control">
            <button id="submit">Envoyer</button>
        </div>

        {{form_end(form)}}

   



    </article>
    </article>
    </section>
</main>
{{ include('main/footer.html.twig') }}
{% endblock %}